<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.pair.member.model.dao.MemberMapper">

	<!-- 회원 조회용 -->
	<resultMap id="memberResultMap"
		type="com.pro.pair.member.model.dto.MemberDTO">
		<id property="memberId" column="MEMBER_ID" />
		<result property="memberPwd" column="MEMBER_PWD" />
		<result property="email" column="EMAIL" />
		<result property="name" column="Name" />
		<result property="status" column="STATUS" />
		<result property="insDt" column="INS_DT" />
		<result property="upDt" column="UP_DT" />
		<result property="lastLoginDt" column="LAST_LOGIN_DT" />
		<result property="address" column="ADDRESS" />
		<result property="phone" column="PHONE" />
		<collection property="roleList" resultMap="roleResultMap"/>
	</resultMap>
	
	<resultMap id="roleResultMap" type="com.pro.pair.member.model.dto.RoleDTO">
		<id property="memberId" column="REF_MEMBER_ID"/>
		<id property="authorityCode" column="REF_AUTHORITY_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/> <!-- 1:1 -->
	</resultMap>

	<resultMap id="authorityResultMap" type="com.pro.pair.member.model.dto.AuthorityDTO">
		<id property="authCode" column="AUTHORITY_CODE"/>
		<result property="authName" column="AUTHORITY_NAME"/>
		<result property="authDesc" column="AUTHORITY_DESC"/>
	</resultMap>

	<!-- 카테고리 조회용 -->
	<resultMap id="categoryResultMap"
		type="com.pro.pair.product.model.dto.CategoryDTO">
		<id property="categoryNo" column="CATEGORY_NO" />
		<result property="categoryNm" column="CATEGORY_NM" />
		<result property="upCategoryNo" column="UP_CATEGORY_NO" />
		<result property="lvl" column="LVL" />
		<result property="sortOrder" column="SORTORDER" />
		<result property="useYn" column="USE_YN" />
	</resultMap>
	
<!-- 썸네일 조회용 -->
	<resultMap id="thumbnailResultMap"
		type="com.pro.pair.upload.model.dto.AttachmentDTO">
		<id property="attachmentNo" column="ATTACHMENT_NO" />
		<result property="refProdNo" column="REF_PROD_NO" />
		<result property="refRevwNo" column="REF_REVW_NO" />
		<result property="refInqNo" column="REF_INQ_NO" />
		<result property="origFileNm" column="ORIG_FILE_NM" />
		<result property="saveFileNm" column="SAVE_FILE_NM" />
		<result property="savePath" column="SAVE_PATH" />
		<result property="thumbnailPath" column="THUMBNAIL_PATH" />
		<result property="fileType" column="FILE_TYPE" />
		<result property="attachStatusYn" column="ATTACH_STATUS_YN" />
	</resultMap>
	
	<!-- 상품 조회용 -->
	<resultMap id="productResultMap" type="com.pro.pair.product.model.dto.ProductDTO">
		<id property="prodNo" column="PROD_NO" />
		<result property="prodNm" column="PROD_NM" />
		<result property="brandCd" column="BRAND_CD" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="price" column="PRICE" />
		<result property="discountRate" column="DISCOUNT_RATE" />
		<result property="prodDesc" column="PROD_DESC" />
		<result property="prodDetailContent" column="PROD_DETAIL_CONTENT" />
		<result property="insDt" column="INS_DT" />
		<result property="uptDt" column="UPT_DT" />
		<result property="useYn" column="USE_YN" />
		<association property="category" resultMap="categoryResultMap" /> <!-- 1:1 -->
		<!-- <association property="brand" resultMap="brandResultMap" /> 1:1 -->
		<association property="attachmentList" resultMap="thumbnailResultMap" />
		<!-- <collection property="option" resultMap="optionResultMap"/> 1:N -->
	</resultMap>

	<!-- 주문배송정보 조회용 -->
	<resultMap id="orderResultMap" type="com.pro.pair.cart.model.dto.OrderDTO">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="rcvrName" column="RCVR_NAME"/>
		<result property="rcvrPhone" column="RCVR_PHONE"/>
		<result property="rcvrAddress" column="RCVR_ADDRESS"/>
		<result property="dlvrReqMessage" column="DLVR_REQ_MESSAGE"/>
		<result property="dlvrStatus" column="DLVR_STATUS"/>
		<association property="orderItem" resultMap="orderItemResultMap"/> <!-- 1:1 -->
		<association property="product" resultMap="productResultMap"/> <!-- 1:1 -->
		<!-- <association property="payment" resultMap="paymentResultMap"/> 1:1
		<association property="delivery" resultMap="deliveryResultMap"/> 1:1
		<association property="point" resultMap="pointResultMap"/> 1:1
		<association property="product" resultMap="productResultMap"/> 1:1
		<association property="brand" resultMap="brandResultMap"/> 1:1
		<association property="attachmentList" resultMap="thumbnailResultMap"/> 1:1
		<collection property="option" resultMap="optionResultMap"/> 1:N -->
	</resultMap>
	
	<!-- 주문상품정보 조회용 -->
	<resultMap id="orderItemResultMap" type="com.pro.pair.cart.model.dto.OrderItemDTO">
		<result property="orderItemNo" column="ORDER_ITEM_NO"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="optCombNo" column="OPT_COMB_NO"/>
		<result property="orderQuantity" column="ORDER_QUANTITY"/>
		<result property="orderAmount" column="ORDER_AMOUNT"/>
		<!-- <association property="order" resultMap="orderResultMap"/>
		<association property="delivery" resultMap="deliveryResultMap"/>
		<association property="product" resultMap="productResultMap"/>
		<association property="brand" resultMap="brandResultMap"/>
		<association property="attachmentList" resultMap="thumbnailResultMap"/>
		<collection property="option" resultMap="optionResultMap"/> -->
	</resultMap>
	
 	<select id="findMemberById" resultMap="memberResultMap">
		SELECT A.MEMBER_ID
				  , A.MEMBER_PWD
				  , A.EMAIL
				  , A.NAME
				  , A.STATUS
				  , A.INS_DT
				  , A.UP_DT
				  , A.LAST_LOGIN_DT
				  , A.ADDRESS
				  , A.PHONE
				  , B.MEMBER_ID AS REF_MEMBER_ID
				  , B.AUTHORITY_CODE AS REF_AUTH_CODE
				  , C.AUTHORITY_NAME 
				  , C.AUTHORITY_DESC
		FROM TBL_MEMBER A
		INNER JOIN TBL_ROLE B ON A.MEMBER_ID = B.MEMBER_ID
		INNER JOIN TBL_AUTHORITY C ON C.AUTHORITY_CODE = B.AUTHORITY_CODE
	   WHERE A.MEMBER_ID = #{ username }
	</select>
	
	<!-- 회원가입 중 아이디 중복 검사 -->
	<select id="checkId" parameterType="String" resultType="int">
		SELECT
		COUNT(*)
		FROM TBL_MEMBER
		WHERE MEMBER_ID = #{ memberId }
	</select>
	
	<!-- 누적 주문/배송목록 조회 -->
	<select id="getMemberOrderList" resultMap="orderResultMap">
	SELECT
		   Z.*
	  FROM (
			SELECT
				   ROW_NUMBER() OVER(PARTITION BY B.ORDER_NO ORDER BY P.PRICE DESC) REPR
				 , A.ORDER_NO
				 , A.ORDER_DATE
				 , A.DLVR_STATUS
				 , B.OPT_COMB_NO
				 , O.OPT_MANAGE_NM
				 , P.PROD_NO
				 , P.PROD_NM
				 , T.THUMBNAIL_PATH
			  FROM TBL_ORDER A
			  LEFT JOIN TBL_ORDER_ITEM B ON(A.ORDER_NO = B.ORDER_NO)
			  LEFT JOIN TBL_PAYMENT C ON(B.ORDER_NO = C.ORDER_NO)
			  LEFT JOIN TBL_OPTION_COMB O ON(B.OPT_COMB_NO = O.OPT_COMB_NO)
			  LEFT JOIN TBL_PRODUCT P ON(O.PROD_NO = P.PROD_NO)
			  LEFT JOIN TBL_ATTACHMENT T ON(P.PROD_NO = T.REF_PROD_NO)
			 WHERE A.MEMBER_ID = #{ memberId }
			   AND FILE_TYPE = 'THUMB_MAIN'
	  	   ) Z
	 WHERE Z.REPR = 1
	</select>
	
	<!-- 배송상태별 최근 3개월 주문내역 -->
	<select id="getMemberOrderCountByDlvrStatus" resultType="_int">
		SELECT
			   NVL(COUNT(ORDER_NO), 0)
		  FROM TBL_ORDER
		 WHERE MEMBER_ID = #{ memberId }
		   AND DLVR_STATUS = #{ dlvrStatus }
		   AND TO_DATE(ORDER_DATE, 'YYYY.MM.DD AM HH:MI:SS') >= ADD_MONTHS(TRUNC(SYSDATE), -3)
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT
		INTO TBL_MEMBER
		(
		MEMBER_ID
		, MEMBER_PWD
		, EMAIL
		, NAME
		, STATUS
		, INS_DT
		, UP_DT
		, LAST_LOGIN_DT
		, ADDRESS
		, PHONE
		)
		VALUES
		(
		#{ memberId }
		, #{ memberPwd }
		, #{ memberId }
		, #{ name }
		, #{ status }
		, SYSDATE
		, NULL
		, SYSDATE
		, #{ address }
		, #{ phone }
		)
	</insert>
	
	<insert id="insertRole">
		INSERT
		INTO TBL_ROLE
		(
		   MEMBER_ID
		 , AUTHORITY_CODE
		)
		VALUES
		(
		   #{ memberId }
		 , #{ authorityCode }
		)
	</insert>
	
	<!-- 로그인 성공 시 최근 로그인 일시 업데이트 -->
	<update id="updateLatestLoginDate">
		UPDATE TBL_MEMBER
		   SET LATEST_LOGIN_DT = SYSDATE
		 WHERE MEMBER_ID = #{ memberId }
	</update>


</mapper>