<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/default.html">
<head>
<meta charset="UTF-8">
<title>PAIR MAIN</title>
<!--/* CSS */-->
<th:block layout:fragment="css">
	<link th:href="@{/css/main.css}" rel="stylesheet">
</th:block>
</head>
<body layout:fragment="content">
	<header class="py-5 bg-image-full" th:style="|background-image: url('@{/images/banner.jpeg}')|">
		<div class="text-center my-5">
			<!-- <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." /> -->
			<h1 class="text-white fs-3 fw-bolder">Make your pair</h1>
			<p class="text-white-50 mb-0">Landing Page Template</p>
		</div>
	</header>
	<!-- Content section-->
	<section class="py-5">
		<div class="container my-5">
			<h2 class="text-center mb-5">오늘의 추천 식기 조합 🍽️</h2>
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<div id="recommendCarousel" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item" th:each="product, stat : ${recommendProdList}" th:classappend="${stat.index == 0} ? ' active'">
								<div class="d-flex justify-content-center align-items-center gap-4">
									<!-- 메인 상품 -->
									<div class="card main-card shadow">
										<img th:src="@{${product.attachmentList[0].thumbnailPath}}" class="card-img-top">
										<div class="card-body text-center">
											<p th:text="${product.prodNm}"></p>
										</div>
									</div>
									<!-- 조합 상품 -->
									<div th:each="combo : ${product.prodCombs}" class="card sub-card shadow-sm">
										<img th:src="@{${combo.attachmentList[0].thumbnailPath}}" class="card-img-top">
										<div class="card-body text-center">
											<p th:text="${combo.prodNm}"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#recommendCarousel" data-bs-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</button>

						<button class="carousel-control-next" type="button" data-bs-target="#recommendCarousel" data-bs-slide="next">
							<span class="carousel-control-next-icon"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5">
		<div class="container my-5">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<h2>Full Width Backgrounds</h2>
					<p class="lead">A single, lightweight helper class allows you to add engaging, full width background images to sections of your page.</p>
					<p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be
						inexcusably egocentric of us to suggest that we're alone in the universe.</p>
				</div>
			</div>
		</div>
	</section>
	<!--/* JS */-->
	<th:block layout:fragment="script">
		<script th:src="@{/js/main.js}" type="text/javascript"></script>
	</th:block>
</body>
</html>